table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px 12px;
    text-align: center;
    white-space: nowrap;
}

/* 카드 공통 스타일 */
.cardall {
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    padding: 2%
}

/* 제목 크기 */
.cardall h1 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 15px;
    color: #FF6B57;
}

/* 차트 영역 */
.chart-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* 차트 박스 */
.chart-container>div {
    flex: 1 1 300px;
    min-width: 280px;
}

/* 출처 텍스트 */
.source {
    text-align: right;
    margin-top: 40px;
    margin-right: 20px;
    font-size: 0.9rem;
    color: #666;
}

/* 미디어 쿼리: 화면 작을 때 */
@media (max-width: 1437px) {
    .cardall h1 {
        font-size: 1.9rem;
    }

    .chart-container>div {
        min-width: 250px;
    }

    table {
        font-size: 1.3rem;
        /* 폰트 사이즈 조절 */
    }

    .chart-container {
        flex-direction: column;
    }

    .chart-container>div {
        width: 100%;
        min-width: unset;
    }
}