.heatwave-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  text-align: left;
}

.heatwave-table th,
.heatwave-table td {
  padding: 10px;
  word-break: break-word;
  white-space: normal;
  line-height: 1.5;
  border: 1px solid #ddd;
}

.warning {
  background-color: #f8d7da;
}

.alert {
  background-color: #f5c6cb;
}

.source {
  text-align: right;
  margin-top: 5px;
  font-size: 12px;
}

/* 카드 부분 */
.dashboard {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1600px;
}

.card {
  background-color: #fff;
  padding: 10px 15px 20px 15px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  line-height: 1.8; /* 텍스트 줄 간격 */
  margin-bottom: 2rem;
  max-width: 1500px;
}

.card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.card h2,
.card h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 30px;
}

.card p {
  margin: 1rem 0;
}
