.related-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  border: 1px solid #ccc;
}

.related-table th,
.related-table td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
  vertical-align: top;
   text-align: center;
}

.related-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.related-table a {
  color: #1a73e8;
  text-decoration: none;
}

.related-table a:hover {
  text-decoration: underline;
}

.container {
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.title {
    margin-bottom: 15px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

.warning {
    background-color: #f8d7da;
    padding: 10px;
    width: 50%;
    word-break: break-word;
    white-space: normal;
    line-height: 1.8;
}

.alert {
    background-color: #f5c6cb;
    padding: 10px;
    width: 50%;
}

.cell {
    padding: 10px;
    word-break: break-word;
    white-space: normal;
    line-height: 1.5;
}

.source {
    text-align: right;
    margin-top: 5px;
    font-size: 12px;
}
